html {
    background: black;
}

body {
    font-size: 1.5em;
    background: black;
}

button {
    font-size: 1.5em;
    width: 1.5em;
    margin: .25em;
}

#result {
    text-align: center;
    border: 2px solid;
    background: yellow;
}

#container {
    text-align: center;
    border: 2px solid;
    background: rgb(206, 206, 123);
}