html {
    background-color: darkgrey;
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
    margin:0  auto;
    width: 90%;
    font-size:1.25em;
}

p:nth-child(even) {
     background-color: orange;
}

table {
    margin: 0 auto;
    padding: 5px;
    font-size:1.25em;
    border:1px solid;
}
caption {
    font-size: 1.75em;
    background-color: lightgreen;
    text-shadow: 2px 2px 5px rgb(31, 53, 38);
    border-radius: 5px;
}

.shad {
    text-shadow: 2px 2px 5px rgb(44, 49, 44);
}

.shad-sm {
    text-shadow: 1px 1px 3px rgb(44, 49, 44);
}


tr {
    text-align: center;
    padding:40px;
}

th {
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}

td {
    text-align: center;
    padding: 5px;
}


a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(252, 248, 248);
    background-color: green;
    text-decoration: underline;
  }
  
  a:active {
    color: green;
    background-color: transparent;
    text-decoration: underline;
  }