html {
    background: lightyellow;
}

body {
    font-size: 1.5em;
}

button {
    font-size: 3em;
    width: 1.5em;
    margin: .25em;
}

#result {
    text-align: center;
    border: 2px solid;
    background: yellow;
}